@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes moveLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-10%);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    display: none;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.search-icon-animation {
  animation: moveLeft 0.5s forwards;
}

.dropdowns-animation {
  animation: fadeOut 0.5s forwards;
}
